*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.section{
    height: 100vh;
    width: 100%;
    padding: 5rem 10rem 9%;
}
.img{
    background-image: url(b.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    padding:5rem 10rem 9% ;
}
.logo{
    width: 10px;
    height: 25px;
    
    
   
}
.home{
    color:white;
    
    margin-left: 200rem;
    font-size: 80px;

    
}
.home ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-top: 100px;
    
   

}
.home ul a{
    color: white;
    text-decoration: none;
    
    

}
.head{
    font-size: 190px;
    color: white;
    margin-top: 300px;
    margin-left: 100px;


}
.h2{
    font-size: 64px;
    color: white;
    margin-top: 95px;
    margin-left: 100px;
    }
    .frame {
        width: 90%;
        margin: 40px auto;
        text-align: center;
      }
      button {
        margin: 20px;
      }
      .custom-btn {
        width: 130px;
        height: 40px;
        color: #fff;
        border-radius: 5px;
        padding: 10px 25px;
        font-family: 'Lato', sans-serif;
        font-weight: 500;
        background: transparent;
        cursor: pointer;
        transition: all 0.3s ease;
        position: relative;
        display: inline-block;
         box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
         7px 7px 20px 0px rgba(0,0,0,.1),
         4px 4px 5px 0px rgba(0,0,0,.1);
        outline: none;
      }
     
    .footer__socials{
        color: white;
        size: 10px;
    }

    .about{
        background-color:white;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        width: 100%;
        padding:5rem 10rem 9% ;

    }
    .main{
        font-size: 250px;
        font-family: Arial, Helvetica, sans-serif;
      
       text-align: center;
        color: black;

    }
    .p{font-size: 50px;
        font-family: Arial, Helvetica, sans-serif;
      
       text-align: center;
        color: black;

    }

    .chef{
        display: flex;
        justify-content: space-around;
        margin-top: 25rem;
    }
    .chef-img{
        text-align: center;
    }
    .chef-img h1{
        font-size: 5rem;
        color: orangered;

    }
    .bestburger{
        background-color:red;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        width: 100%;
        padding:5rem 10rem 9% ;
}
.text{
    color: white;
    font-size: 10rem;
   text-align: center;

}
.back{ color: white;
    font-size: 5rem;
   text-align: center;
   }

.img-burger{
    text-align: center;
    margin-top: 25rem;
}

.id{
    background-color:white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    padding:5rem 10rem 9% ;
}
.big-burger{
    font-size: 10rem;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-align: center;
}
.text-2{
    color: black;
    font-size: 5rem;
   text-align: center;
}
.img-2{
    text-align: center;
    margin-top: 25rem;
}
.page-3{ background-color:red;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    padding:5rem 10rem 9% ;

}
.text-4{
    font-size: 10rem;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    background: linear-gradient(90deg,#00ffff,#ff00c3);
 background-clip: text;
 -webkit-text-fill-color:  transparent;
}
.p-4{
    text-align: center;
      font-size: 5rem;
      color: black;
    text-align: center;
}
.padded{
    background-color:pink;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    padding:5rem 10rem 9% ;
}
.poputer{
    font-size: 10rem;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
}
.package{background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0px 2px 4px rba( 0,0,0,0.1);
    text-align: center;
    

}
.package{
    color: #ff5722;
    margin-bottom: 40px;
width: 50rem;
height: 600px;

}

.package .price{
    font-size: 100px;
    font-weight: bold;
    color: #ff5722;
    
    
}
.package button{
    background-color: #ff5722;
    color: #fff;
    border: none;
    padding: 20px 30px;
    border-radius: 5px;
    cursor: pointer;
}
.footer{
    text-align: center;
    padding: 20px;
    background-color: #f8f8f8;
}
